<div class="container">
    <!-- Start slider -->
    <section id="slider">
        <div class="main-slider">
            <div class="single-slide">
                <img src="~/images/10.jpg" alt="img">
                <div class="slide-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="slide-article">
                                    <h1 class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s"></h1>
                                    <p class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.75s"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End slider -->
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a id="about_button" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <i class="fa fa-plus"> About Us</i>
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <span style="color:#FFA100; font-size:20px;">Sapna</span> is an initiative born out of the School of Computing and Information Technology (SCIT) at the University of Technology, Jamaica. The aim of the initiative is to enhance the skills of its student members through exposure to industry-type software engineering experience. The project was inspired from a dream to establish Jamaica as a worthy international player in ICT, with UTech as the incubator. The name Sapna is therefore fitting since it is translated from Hindi to literally mean “Dream”.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    <a id="vision_button" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <i class="fa fa-plus"> Our Vision</i>
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    The <span style="color:#FFA100; font-size:20px;">Sapna Initiative</span> ,is a thrust of the SCIT intended to strengthen and enhance the teaching or learning, skills and professional development strategy of the school for highly motivated students. The intent is that through participation in this initiative, students will:
                    <ul>
                        <li>1.Deepen their design, problem solving and technical skills</li>
                        <li>2.Become more innovative in thinking and pursue new ideas</li>
                        <li>3.Build out and document innovations</li>
                        <li>4.Develop an entrepreneurial mindset and participate in entrepreneurial ventures</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                    <a id="sapna_button" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <i class="fa fa-plus"> Leaders of Sapna</i>
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                    The leadership consists of two visionary individuals: Arnett Campbell and Shawn Ramsey who have been the driving force of Sapna since its inception. These individuals have been working assiduously to ensure that the dream will be realized. The University’s President, upon reading a proposal about Sapna, fully supported the initiative. The president forwarded copies of the proposal to the other academic leaders within the University who also endorsed the initiative.
                    <div class="container">
                        <div id="member" class="row">
                            <div class="col-md-4">
                                <img src="~/images/icon.jpg" alt="images">
                                <p>Arnett Campbell </p>
                            </div>
                            <div class="col-md-4">
                                <img src="~/images/icon1.jpg" alt="images">
                                <p>Shawn Ramsey</p>
                            </div>
                            <div class="col-md-4">
                                <img src="~/images/icon2.jpg" alt="images">
                                <p>Charmaine DeLisser</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>