<div class="container">
    <div class="row">
        <div id="wrapper" class="col-sm-6 col-md-4">
            <div id="box" class="thumbnail">
                <img src="~/images/icon.jpg" alt="image" class="img-circle" style="padding-top:20px;">
                <div class="caption">
                    <h4 class="center">Name</h4>
                    <button id="profile_button" type="button" class="btn btn-lg btn-primary btn-sm" data-toggle="modal" data-target=".bs-example-modal-lg_member1">View Profile</button>
                    <div class="modal fade bs-example-modal-lg_member1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Name</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Skills: ASP.NET, Ruby on Rails, Java</p>
                                </div>
                                <div class="modal-footer">
                                    <!-- added inline javascript 'onclick' -->
                                    <button onclick="window.location='.html';" id="login_button" type="button" class="btn btn-lg btn-primary btn-sm" data-dismiss="modal">Full Profile</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="wrapper" class="col-sm-6 col-md-4">
            <div id="box" class="thumbnail">
                <img src="~/images/icon1.jpg" alt="image" class="img-circle" style="padding-top:20px;">
                <div class="caption">
                    <h4 class="center">Name</h4>
                    <button id="profile_button" type="button" class="btn btn-lg btn-primary btn-sm" data-toggle="modal" data-target=".bs-example-modal-lg_member2">View Profile</button>
                    <div class="modal fade bs-example-modal-lg_member2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Name</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Skills: ASP.NET, Ruby on Rails, Java</p>
                                </div>
                                <div class="modal-footer">
                                    <button onclick="window.location='.html';" id="login_button" type="button" class="btn btn-lg btn-primary btn-sm" data-dismiss="modal">Full Profile</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="wrapper" class="col-sm-6 col-md-4">
            <div id="box" class="thumbnail">
                <img src="~/images/icon2.jpg" alt="image" class="img-circle" style="padding-top:20px;">
                <div class="caption">
                    <h4 class="center">Name</h4>
                    <button id="profile_button" type="button" class="btn btn-lg btn-primary btn-sm" data-toggle="modal" data-target=".bs-example-modal-lg_member3">View Profile</button>
                    <div class="modal fade bs-example-modal-lg_member3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Name</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Skills: ASP.NET, Ruby on Rails, Java</p>
                                </div>
                                <div class="modal-footer">
                                    <button onclick="window.location='.html';" id="login_button" type="button" class="btn btn-lg btn-primary btn-sm" data-dismiss="modal">Full Profile</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="wrapper" class="col-sm-6 col-md-4">
            <div id="box" class="thumbnail">
                <img src="~/images/icon.jpg" alt="image" class="img-circle" style="padding-top:20px;">
                <div class="caption">
                    <h4 class="center">Name</h4>
                    <button id="profile_button" type="button" class="btn btn-lg btn-primary btn-sm" data-toggle="modal" data-target=".bs-example-modal-lg_member4">View Profile</button>
                    <div class="modal fade bs-example-modal-lg_member4" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Name</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Skills: ASP.NET, Ruby on Rails, Java</p>
                                </div>
                                <div class="modal-footer">
                                    <button onclick="window.location='.html';" id="login_button" type="button" class="btn btn-lg btn-primary btn-sm" data-dismiss="modal">Full Profile</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="wrapper" class="col-sm-6 col-md-4">
            <div id="box" class="thumbnail">
                <img src="~/images/icon2.jpg" alt="image" class="img-circle" style="padding-top:20px;">
                <div class="caption">
                    <h4 class="center">Name</h4>
                    <button id="profile_button" type="button" class="btn btn-lg btn-primary btn-sm" data-toggle="modal" data-target=".bs-example-modal-lg_member5">View Profile</button>
                    <div class="modal fade bs-example-modal-lg_member5" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Name</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Skills: ASP.NET, Ruby on Rails, Java</p>
                                </div>
                                <div class="modal-footer">
                                    <button onclick="window.location='.html';" id="login_button" type="button" class="btn btn-lg btn-primary btn-sm" data-dismiss="modal">Full Profile</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="wrapper" class="col-sm-6 col-md-4">
            <div id="box" class="thumbnail">
                <img src="~/images/icon1.jpg" alt="image" class="img-circle" style="padding-top:20px;">
                <div class="caption">
                    <h4 class="center">Name</h4>
                    <button id="profile_button" type="button" class="btn btn-lg btn-primary btn-sm" data-toggle="modal" data-target=".bs-example-modal-lg_member6">View Profile</button>
                    <div class="modal fade bs-example-modal-lg_member6" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Name</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Skills: ASP.NET, Ruby on Rails, Java</p>
                                </div>
                                <div class="modal-footer">
                                    <button onclick="window.location='.html';" id="login_button" type="button" class="btn btn-lg btn-primary btn-sm" data-dismiss="modal">Full Profile</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>