@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject RoleManager<Role> RoleManager

@{
    User user = await UserManager.GetUserAsync(User);
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard</title>

    <link rel="stylesheet" href="~/css/backend.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" asp-for="Index" asp-controller="Dashboard">UTech Sapna</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li><a asp-controller="Manage" asp-action="Index" title="Manage">Hello @UserManager.GetUserName(User)! | </a></li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a asp-for="Index" asp-controller="Home"><i class="fa fa-file-text"></i> View Site</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm">
                                <button type="submit" class="btn btn-link"><i class="fa fa-sign-out fa-fw"></i> Logout</button>
                            </form>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a asp-actionr="Index" asp-controller="Dashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li>
                            <a asp-action="Index" asp-controller="Clients"><i class="fa fa-users"></i> Clients</a>
                        </li>
                        <li>
                            <a asp-action="Index" asp-controller="Projects"><i class="fa fa-edit fa-fw"></i> Projects</a>
                        </li>
                        <li>
                            <a asp-action="Index" asp-controller="Members"><i class="fa fa-user"></i> Members</a>
                        </li>
                        <li>
                            <a asp-action="Index" asp-controller="News"><i class="fa fa-newspaper-o"></i> News</a>
                        </li>
                        <li>
                            <a asp-action="Index" asp-controller="Events"><i class="fa fa-calendar"></i> Events</a>
                        </li>
                        <li>
                            <a asp-action="Index" asp-controller="Documents"><i class="fa fa-book"></i> Documents</a>
                        </li>
                        <li>
                            <a asp-action="Index" asp-controller="Skills"><i class="fa fa-wrench"></i> Skills</a>
                        </li>
                        <li>
                            <a asp-action="Index" asp-controller="Specializations"><i class="fa fa-code-fork"></i> Specializations</a>
                        </li>
                        <li>
                            <a asp-action="Index" asp-controller="Roles"><i class="fa fa-tasks"></i> Roles</a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">

            <!-- /.row -->
            <div class="row">
                @RenderBody()
            </div>
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <script src="~/js/backend.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>