@model News

@{
    Layout = "_Dashboard";
}

<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb pull-right">
            <li><a asp-action="Index" asp-controller="News">Back to News List</a></li>
            <li><a asp-action="Index" asp-controller="Dashboard">Back to Dashboard</a></li>
        </ol>
    </div>
    <!-- /.col-lg-12 -->
</div>


<div class="formwrapper">
    <form class="newsform" asp-action="Create" enctype="multipart/form-data">
        <h2 class="newsheader"><i class="fa fa-newspaper-o"> News</i></h2>

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <span asp-validation-for="Title" class="text-danger"></span>
        <input type="text" class="form-control" asp-for="Title" placeholder="Title of News" required="" autofocus="" />
        <br>


        <span asp-validation-for="details" class="text-danger"></span>
        <textarea class="form-control" asp-for="details" rows="3" placeholder="Enter Details"></textarea>
        <br>

        <label asp-for="photo">Upload a Photo</label>
        <input type="file" class="form-control-file" asp-for="photo">

        <br>
        <button id="form_button" class="btn btn-lg btn-primary btn-block" type="submit">Create</button>
    </form>
</div>


