@model Role

@{
    Layout = "_Dashboard";
}

<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb pull-right">
            <li><a asp-action="Index" asp-controller="Roles">Back to Roles List</a></li>
            <li><a asp-action="Index" asp-controller="Dashboard">Back to Dashboard</a></li>
        </ol>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="roleswrapper">
    <form class="rolesform" asp-action="Edit" asp-controller="Roles">
        <h2 class="rolesheader"><i class="fa fa-font-awesome"> Roles</i></h2>

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <input type="hidden" asp-for="Id">

        <span asp-validation-for="Name" class="text-danger"></span>
        <input type="text" class="form-control" asp-for="Name" placeholder="Name" required="" autofocus="" />
        <br>
        <br>
        <button id="roles_button" class="btn btn-lg btn-primary btn-block" type="submit">Add Role</button>
    </form>
</div>