@model Event

@{
    Layout = "_Dashboard";
}

<div class="wrapper">
    <form asp-action="Delete" asp-controller="Events">
        <input type="hidden" asp-for="EventId">
        <div class="alert alert-danger">
            You are about to delete a event. This action cannot be undone. Are you sure you want to continue?
        </div>
        <div class="col-xs-4">
            <input class="btn btn-danger" value="Yes, Delete this event" type="submit" />
        </div>
        <div class="col-xs-4"></div>
        <div class="col-xs-4"><a asp-action="Index" class="btn btn-success">No! Get me out of here</a></div>
    </form>
</div>